
* {
	margin: 0;
  	padding: 0;
}

header {
	display: flex;
	max-height: 58px;
}

.menu {
	background-color: red;
	flex: 1;
}

.lastItem {
	background-color: black;
}

.lastItem:hover {
	background-color: #303030;
}

.titre {
	text-align: center;
	margin-top: 20px;
}

hr {
	margin-left: 10%;
	margin-right: 10%;
}

.infos_entreprise {
	margin-left: 10%;
	margin-right: 10%;
}

.presentation_entreprise {
	resize: none;
	width: 100%;
	height: 300px;
	margin-top: 10px;
}

.representant1 {
	margin-right: 5%;
}

.representant2 {
	margin-left: 5%;
}

.representant {
	margin-top: 30px;
	margin-bottom: 30px;
	display: flex;
	justify-content: center;
}

.representant p {
	text-align: center;
}

input[type=submit] {
	color: white;
	background-color: red;
	border: none;
	border-radius: 10px;
	height: 50px;
	width: 150px;
	white-space: normal;
}

input[type=submit]:hover {
	background-color: darkred;
}

.enregistrer {
	text-align: center;
}